{% load static %}
{% load i18n %}
<section id="contact" style="margin-top:-50px;border-top :1px solid #E4E4E4;" >
				<div id="fb-root"></div>

				<div class="container notopmargin notoppadding clearfix" id="" >

<!-- Postcontent
					============================================= -->
					<div class="postcontent" style="margin-top:40px;" >


						<h3>Contact Us</h3>

						<div class="contact-widget">

							<div class="contact-form-result"></div>

							<form class="nobottommargin" id="template-contactform" name="template-contactform" action="/api/v1/contactus/" method="post">
								{% csrf_token %}
								<div class="form-process"></div>

								<div class="col_one_fourth">
									<label for="template-contactform-name">Name <small>*</small></label>
									<input type="text" id="template-contactform-name" name="name" value="" class="sm-form-control required" required="true" />
								</div>

								<div class="col_one_fourth">
									<label for="template-contactform-email">Email <small>*</small></label>
									<input type="email" id="template-contactform-email" name="email" value="" class="required email sm-form-control" required="true" />
								</div>

								<div class="col_one_fourth">
									<label for="template-contactform-phone">Phone</label>
									<input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control" required="true" />
								</div>

								<div class="col_one_fourth col_last">
									<label for="template-contactform-city">City</label>
									<input type="text" id="template-contactform-city" name="city" value="" class="sm-form-control" required="true" />
								</div>

								<div class="col_full">
									<button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send</button>
								</div>

							</form>
						</div>

					</div><!-- .postcontent end -->
					</div>


</section>
<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_three_fourth">

						<div class="col_one_third">

							<div id="text-2" class="widget edgtf-footer-column-1 widget_text"><div class="edgtf-widget-title-holder"><h1 class="edgtf-widget-title">Our Office</h1></div>			<div class="textwidget"><div></div>
									<div>312,shikshak colony</div>
									<div>Near Gopal Bagichi,</div>
									<div>Baswa Road, Bandikui</div>
									<div>Bandikui – 303313</div>
									<div></div>
									<div></div>
									<div>Phone : 080 78 66 05 87</div>
									</div>
											</div>

<!--							<div class="widget clearfix">-->

<!--&lt;!&ndash;								<img src="{% static 'images/footer-widget-logo.png' %}" alt="" class="footer-logo">&ndash;&gt;-->

<!--								<p>Make your home<strong>&nbsp;Smart</strong>, <strong>Secure</strong> &amp; <strong>Stylish</strong> with Ficus Home Automation.</p>-->

<!--							<h4>CERTIFIED</h4>-->
<!--								<div class="row">-->

<!--								<img class="icon" src="{% static 'images/common/ce.png' %}" style="padding-left:10px; padding-top:10px;">-->
<!--								<img class="icon" src="{% static 'images/common/rohs.png' %}" style=" padding-left:10px; padding-top:10px;">-->
<!--								<div class="icon" style=" padding-left:10px; padding-top:10px;" ><h3>ISO/IEC 27001:2013</h3></div>-->
<!--								&lt;!&ndash; <img class="icon" src="images/common/iso.png" style="padding-left:10px; padding-top:10px;"> &ndash;&gt;-->
<!--								</div>-->
<!--								</div>-->

						</div>

						<div class="col_one_third">
							<div id="text-2" class="widget edgtf-footer-column-1 widget_text"><div class="edgtf-widget-title-holder"><h1 class="edgtf-widget-title">For Enquiry</h1></div>
									<div>For Becoming dealer - 8078660587</div>
									<div>For Support - 7023325642</div>
							</div>
<!--						<div class="widget widget_links clearfix">-->

<!--								<div style="background: url({% static 'images/world-map.png' %}) no-repeat center center; background-size: 100%;">-->
<!--									<address>-->
<!--								 <h4 class="nobottommargin">HQ</h4><br>-->
<!--										D-57, Sector 6<br>-->
<!--										NOIDA, National Capital Region<br>-->
<!--										Uttar Pradesh, 201301<br>-->
<!--										India<br>-->
<!--									</address>-->
<!--									<abbr title="Phone Number"><strong>Phone:</strong></abbr><a href="tel:+918078660587"> (91) 80 78 66 05 87</a><br>-->
<!--									<abbr title="Email Address"><strong>Email:</strong></abbr><a href="mailto:skshubham070@gmail.com">skshubham070@gmail.com</a>-->
<!--								</div>-->



<!--							</div>-->


						</div>

						<div class="col_one_third col_last ">
							<div id="text-2" class="widget edgtf-footer-column-1 widget_text"><div class="edgtf-widget-title-holder"><h1 class="edgtf-widget-title">Email</h1></div>
									<div>Sales - sales@</div>
									<div>Support - support@</div>
							</div>
<!--							<div class="widget clearfix">-->

<!--								<h4>MEDIA</h4>-->

<!--								<ul>-->
<!--									&lt;!&ndash;li><a href="home_automation_installation_videos_all.php">Installation Videos</a></li&ndash;&gt;-->
<!--									<li><a href="#">Ficus & Amazon Echo</a></li>-->
<!--									<li><a href="#">Customer Testimonials</a></li>-->
<!--									<li><a href="#">In the news</a></li>-->

<!--								</ul>-->

<!--								<h4>MORE Ficus</h4>-->

<!--								<ul>-->
<!--									<li><a href="#">Frequently Asked Questions</a></li>-->
<!--									<li><a href="#">Buy Ficus Devices</a></li>-->
<!--								</ul>-->


<!--							</div>-->

						</div>
					</div>


					<div class="col_one_fourth col_last">

						<img src="{% static 'images/mii.png' %}" alt="Make IN India" /><br>
																							<br>
						<img src="{% static 'images/Swach_Bharat.png' %}" alt="Make IN India" />
						<div class="widget clearfix" style="margin-bottom: -20px;">
							<div class="row">
								<div class="col-md-6 clearfix bottommargin-sm">
						<div class="fright clearfix">
													<a href="#" target="_blank" class="social-icon si-small si-borderless si-facebook">
														<i class="icon-facebook"></i>
														<i class="icon-facebook"></i>
													</a>

												<a href="#" target="_blank" class="social-icon si-small si-borderless si-twitter">
													<i class="icon-twitter"></i>
													<i class="icon-twitter"></i>
												</a>

									</div>
						</div>
						</div>
						</div>





<!--						<div class="widget clearfix" style="margin-bottom: -20px;">-->

<!--							<div class="row">-->

<!--								<div class="col-md-6 clearfix bottommargin-sm">-->
<!--									<i class="fab fa-mdb"></i>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--									<a href="#" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">-->

<!--										<i class="icon-facebook"></i></a>-->
<!--										<a href=
"#" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Like us</strong></small></a>-->


<!--									</div>-->
<!--									<div class="col-md-6 clearfix bottommargin-sm">-->

<!--									<a href="#" target="_blank" class="social-icon si-dark si-colored si-youtube nobottommargin" style="margin-right: 10px;">-->

<!--										<i class="icon-youtube"></i>-->
<!--									</a>-->
<!--									<a href="#" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Follow us</strong></small></a>-->

<!--								</div>-->
<!--									</div>-->
<!--								<div class="row">-->
<!--								<div class="col-md-6 clearfix bottommargin-sm">-->

<!--								<a class="social-icon si-dark si-colored nobottommargin"  href="#" target="_blank">-->
<!--								<i class="icon-amazon"></i></a>-->
<!--								<a  href="#" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Buy From Amazon</strong></small></a>-->


<!--								</div>-->




<!--								</div>-->


<!--								<div class="row">-->


<!--								<img style="padding-left:20px;" src="{% static 'images/common/mii.png' %}">-->


<!--								</div>-->






<!--						</div>-->

					</div>


				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
<!--			<div id="copyrights">-->

<!--				<div class="container clearfix">-->

<!--					<div class="col_half">-->
<!--						Copyrights &copy; 2014 All Rights Reserved by Riot Labz Pvt Ltd.<br>-->
<!--						<div class="copyright-links">-->
<!--						<a href="#">Terms of Use</a> /-->
<!--						<a href="#">Privacy Policy</a> /-->
<!--						<a href="#">Terms and conditions</a> /-->


<!--						</div>-->
<!--					</div>-->

<!--					<div class="col_half col_last tright">-->
<!--						<div class="fright clearfix">-->
<!--							<a href="#" target="_blank" class="social-icon si-small si-borderless si-facebook">-->
<!--								<i class="icon-facebook"></i>-->
<!--								<i class="icon-facebook"></i>-->
<!--							</a>-->

<!--							<a href="#" target="_blank" class="social-icon si-small si-borderless si-twitter">-->
<!--								<i class="icon-twitter"></i>-->
<!--								<i class="icon-twitter"></i>-->
<!--							</a>-->


<!--							<a href="#" target="_blank" class="social-icon si-small si-borderless si-youtube">-->
<!--								<i class="icon-youtube"></i>-->
<!--								<i class="icon-youtube"></i>-->
<!--							</a>-->


<!--						</div>-->

<!--						<div class="clear"></div>-->

<!--						<i class="icon-envelope2"></i><a href="mailto:skshubham070@gmail.com">&nbsp;skshubham070@gmail.com </a><span class="middot">&middot;</span> <i class="icon-headphones"></i><a href="tel:+918078660587"> +91-80-78-66-05-87 </a>-->
<!--					</div>-->

<!--				</div>-->

<!--			</div>&lt;!&ndash; #copyrights end &ndash;&gt;	-->

				<!-- Footer -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> ShubhamKhandelwal.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->

</footer>



