{% load static %}
{% load i18n %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFMLBMJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
 <!-- End Google Tag Manager (noscript) -->

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">



		<!-- Header
		============================================= -->
			<!-- Header with navigation include-->
	<style>
div#botbutton {
    display: none !important;
}
.col_one_fourth.nobottommargin.hide_product {
    display: none !important;
}
div#quriobotWidgetContainer {
    display: none !important;
}
</style>
<!-- Header	============================================= -->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<header id="header" class="transparent-header semi-transparent full-header" style="/*margin-top:-20px;*/">
	<div id="header-wrap" >
		<div class="container clearfix ">
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			<!-- Logo
			============================================= -->
			<div id="logo">
				<a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="{% static 'images/reallogo.jpg' %}" alt="Oakter Logo"></a>
				<a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="{% static 'images/reallogo.jpg' %}" alt="Oakter Logo"></a>
			</div>
			<!-- #logo end -->

			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu">
				<ul>
					<li><a href="/"><div>HOME </div></a></li>
					<li class="sub-menu"><a href="#"><div>OUR PRODUCTS</div></a>
						<ul>
							<div class="widget clearfix nobottompadding ">
								<li><a href="/home-automation-kit/" class="sf-with-ul"><div>HOME AUTOMATION KIT</div></a>

								<ul><div class="widget clearfix nobottompadding">
											<li><a href="#" class="sf-with-ul"><div>NODE 4</div></a></li>
											<li><a href="#" class="sf-with-ul"><div>NODE 2</div></a></li>
											<li><a href="#" class="sf-with-ul"><div>NODE 1</div></a></li>
											</div>
										</ul></li>
								<li><a href="/water-level-controller/" class="sf-with-ul"><div>WATER LEVEL CONTROLLER</div></a></li>
								<li><a href="/solar-products/" class="sf-with-ul"><div>SOLAR PRODUCTS</div></a></li>
								<li><a href="/security-and-surveillance/" class="sf-with-ul"><div>SECURITY AND SURVEILLANCE</div></a></li>
								<li><a href="#" class="sf-with-ul"><div>SCHOOL AND VISITOR MANAGEMENT</div></a></li>
							</div>
						</ul>
					</li>

<!--		==================================================================================================================			&ndash;&gt;-->
					<li class="sub-menu"><a href="#"><div>ABOUT</div></a>
						<ul>
							<div class="widget clearfix nobottompadding ">
								<li><a href="/aboutficus/" class="sf-with-ul"><div>ABOUT FICUS</div></a></li>
								<li><a href="/about_smartphone_app/" class="sf-with-ul"><div>SMARTPHONE APP</div></a></li>
								<li><a href="/about_amazon_echo_alexa/" class="sf-with-ul"><div>AMAZON ECHO & ALEXA</div></a></li>
								<li><a href="/about_google_home/" class="sf-with-ul"><div>GOOGLE HOME</div></a></li>
								<li><a href="/about_how_it_work/" class="sf-with-ul"><div>HOW DOES IT WORK</div></a></li>
								<li><a href="/FAQs/" class="sf-with-ul"><div>FAQs</div></a></li>
							</div>
						</ul>
					</li>
					<!-- li><a href="home_automation_buy_devices_oakter.php"><div>Buy</div></a></li -->
					<li><a href="#contact"><div>Contact</div></a></li>
				</ul>
			</nav><!-- #primary-menu end -->
		</div>
	</div>
</header><!-- #header end -->	<!-- Header with navigation include-->
<!-- #header end -->
<!-- #header end -->
