{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}

<section class="full-screen clearfix visible-xs">
<div class="content-wrap nomargin nopadding">
<a href="#"><img class="col_full nomargin nopadding" src="{% static 'images/common/home_header_mobile_a.png' %}"></a>
</div>
</section>
<section id="slider" class="slider-parallax revslider-wrap full-screen clearfix hidden-xs" style="background-color:#fff;">

			<div class="tp-banner-container">
				<div class="tp-banner">
				
					<ul >    <!-- SLIDE  -->
						<li>
							<!-- MAIN IMAGE -->
<!--							<img src="{% static 'images/common/ficus_home5.jpg' %}"  alt="kenburns1"  >-->
							<img src="{% static 'images/common/ficus_home5.jpg' %}" alt="kenburns1" data-bgposition="center center" data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="right center">
						
						</li>
				
						
					</ul>
					<div class="container clearfix">
								<div class="slider-caption slider-caption-right dark  fade in notopmargin " >
								<div class="col_half">
								<a href="#"><img width="250px;" src="{% static 'images/common/wwahome.png' %}" ></a>
								</div>
								<div class="col_half col_last">
								<a href="#"><img width="250px;" src="{% static 'images/common/Googass.png' %}" ></a>
								</div>
								<div class="col_full">							
									<h2 style=" padding:15px;background-image:url({% static 'images/homepage/homecaptionbg.png' %})" data-caption-animate="fadeInUp">Automate Everything!<br><span style="font-size:large;color:#fff;">with your voice, or your smartphone</span></h2>
									<div class="line nomargin nopadding"></div>
									<p style=" padding:15px; background-image:url({% static 'images/homepage/homecaptionbg.png'  %});" data-caption-animate="fadeInUp" data-caption-delay="100" >LIGHTS, FANS, AC, SET TOP BOX &amp; MORE </p>
								</div>
								</div>
					</div>
					
					

				

				</div>
			</div>

		</section>
		
		
		
		<section id="content">

			<div class="content-wrap notoppadding nobottompadding" >
			<div style="height:30px;" class="col_full hidden-xs"></div>
			
				<div class="section nobg topmargin-lg nobottommargin nobottompadding notopmargin notoppadding">
					<div class="container clearfix">

					<!----->
					
					
					<div class="col_half nobottommargin center">

							<div class="fslider nopadding nomargin" data-pagi="false" data-arrows="true" data-thumbs="false" >
											<div class="flexslider">
												<div class="slider-wrap" data-lightbox="gallery">
												
													<div class="slide" ><img src="{% static 'images/common/app_home1.jpg' %}"></div>
													<div class="slide" ><img src="{% static 'images/common/app_home2.jpg' %}"></div>
													
													

												</div>
											</div>
										</div>


						</div>

						<div class="col_half nobottommargin col_last nobottompadding notopmargin">
						<div style="height:10px;" class="col_full hidden-xs hidden-sm"></div>
							<div class="heading-block nobottomborder" >
							

								<h2>Ficus Smartphone App</h2>
								
								<p>The versatile Ficus app lets you schedule and time your appliances, configure voice control with voice asssistants, turn your devices ON/OFF from anywhere, play your favourite channel on your Set Top Box, change your AC's temperature and more</p>
								<div class="col_full " >
								<div class="col_half">
								
								<div class="col_full nopadding nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											 <i class="icon-calendar"> </i>
										</div>
										<h5>SCHEDULE APPLIANCES</h5>
										
    								</div>

								</div>

								<div class="col_full nopadding nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											 <i class="icon-time"> </i>
										</div>
										<h5>AUTO OFF TIMER</h5>
										
									</div>

								</div>

								<div class="col_full nopadding nobottommargin ">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											 <i class="icon-globe"> </i>
										</div>
										<h5>CONTROL FROM ANYWHERE</h5>
										
									</div>

								</div>
								
									
							

								
								</div>
								
								<div class="col_half  col_last">
								
								<div class="col_full nopadding nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											 <i class="icon-group"> </i>
										</div>
										<h5>INVITE MULTIPLE USERS</h5>
										
									</div>

								</div>
								
				
																
								<div class="col_full nopadding nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
									<div class="fbox-icon">
											 <i class="icon-note"> </i>
										</div>
										<h5>POWERFUL NOTIFICATIONS</h5>

									</div>	
								</div>
							
								<div class="col_full nopadding nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
									<div class="fbox-icon">
											 <i class="icon-download"> </i>
									</div>

										<h5>IOS &amp; ANDROID SUPPORT</h5> 

									</div>

								</div>
								</div>
								
								</div>
								
							<div class="heading-block">
							<a href="#" class="button button-3d button-large button-rounded topmargin-sm noleftmargin notopmargin">More about the app</a>
							</div>
							</div>
							


						</div>
					
					
					

					</div>
				</div>
				</div>
					</section>
					
				
				<!-- Devices Section -->
				
<section id="content">
<div class="line nopadding nomargin"></div>
				
	<div class="section nobottommargin nobottompadding notopmargin nobg"  >

		<div class="container clearfix">

			<div class="col_full nobottommargin nobottompadding">

					<div class="heading-block nobottompadding nobottommargin nobottomborder">

								<h2>Ficus Home Automation Devices</h2>
								

					</div>
					<div class="clear"></div>
							
					<div id="oc-portfolio" style="margin-top:10px; margin-bottom:10px;" class="owl-carousel portfolio-carousel carousel-widget notopmargin" data-loop="true" data-margin="12" data-nav="true" data-autoplay="3500" data-pagi="yes" data-items-xxs="2" data-items-xs="2" data-items-sm="3" data-items-md="5" data-items="7">

					

						<div class="oc-item" style="border-top: 3px solid #00CC99;">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="#">	<img src=" {% static 'images/products/Smart_home_hub/Hwa1.jpg' %}"></a>
								</div>
								<div class="portfolio-desc center"><strong>Smart Home Hub</strong>
								</div> 							
							</div>
						</div>

						<div class="oc-item" style="border-top: 3px solid #FFCC00;">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="#">	<img src="{% static 'images/products/Quadra_smartbox/Quadra%20V2.png' %}" ></a>
								</div>
								<div class="portfolio-desc center"><strong>Quadra Smart Box</strong>
								</div> 								
							</div>
						</div>
						
						<div class="oc-item" style="border-top: 3px solid #FFCC00;">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="#">	<img src=" {% static 'images/products/Duo_smartbox/Dsa1.jpg' %}" >
									</a>								
								</div>
								<div class="portfolio-desc center"><strong>Duo Smart Box</strong></div>
							</div>
						</div>

						<div class="oc-item" style="border-top: 3px solid #FFCC00;">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="#">	<img src=" {% static 'images/products/25amp_smartbox/25a1.jpg' %}" ></a>
								</div>
								<div class="portfolio-desc center"><strong>25 Amp Smart Box</strong>
								</div> 							
							</div>
						</div>

						<div class="oc-item" style="border-top: 3px solid #99CC00;">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="#">	<img src=" {% static 'images/products/16amp_smartplug/16a2.jpg' %}"></a>
								</div>
								<div class="portfolio-desc center"><strong>16 Amp Smart Plug</strong></div> 
							</div>
						</div>
						
						<div class="oc-item" style="border-top: 3px solid #99CC00;">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="#">	<img src=" {% static 'images/products/6amp_smartplug/6a1.jpg' %}" ></a>
								</div>
								<div class="portfolio-desc center"><strong>6 Amp Smart Plug</strong></div>
							</div>
						</div>
																	
						<div class="oc-item" style="border-top: 3px solid gray;">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="#">	<img src=" {% static 'images/products/Smart_remote_ir/Sria1.jpg' %}" ></a>
								</div>
								<div class="portfolio-desc center"><strong>oakRemote</strong></div>
							</div>
						</div>
									
					</div>
						<div class="heading-block nopadding nomargin center">
								<a href="#" target="_new" class="button button-3d button-large button-rounded topmargin-sm noleftmargin notopmargin">Got Questions?</a>
						</div>	
 					</div>

			</div>
	</div>
</section>
<section id="contact" style="background-color:#F4F4F4">
	<div class="line"></div>
		
	<div class="col_full center">

		<div class="container clearfix">
			<div class="heading-block center nobottomborder ">
				<h2>START YOUR SMART HOME JOURNEY!<br><strong class="color"><i class="icon-phone "></i><a class=""  href="tel:+918078660587">+91 80 78 66 05 87</a></strong></h2>
			</div>
			<p >Or share your contact with us below and we will get in touch with you</p>
		</div>
	</div>
			
</section>
{% endblock %}
