{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
<section id="page-title">
	<div class="container clearfix">
		<h1>About Amazon Alexa</h1>
		<span>All your Questions answered in one place</span>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About Amazon Alexa</li>
		</ol>
	</div>
</section>
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<h3 class="center">VOICE CONTROL YOUR HOME WITH ALEXA &amp; OAKTER</h3>
			<ul class="process-steps process-3 clearfix">
				<li>
					<a href="#" class="i-bordered i-circled divcenter icon-2x icon-settings"></a>
					<h5>Install and connect<br>Oakter to WiFi</h5>
					<a class="center" href="#" target="_blank">How to setup Oakter</a>
				</li>
				<li>
					<a href="#" class="i-bordered i-circled divcenter icon-2x icon-edit"></a>
					<h5>Name your smart plugs,<br> "Table Lamp, Geyser, Kitchen Light" etc</h5>
					<a class="center" href="#" target="_blank">How to name your devices</a>
				</li>
				<li>
					<a href="#hwa" class="i-bordered i-circled divcenter icon-mobile"></a>
					<h5>Link Oakter to Amazon Echo <br>using the Alexa app </h5>
					<a class="center" href="#hwa" target="_self">Watch Video</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</section>
{% endblock %}