<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
<section id="page-title">
	<div class="container clearfix">
		<h1>Security Products</h1>
		<span>Our Security Products helps you to control the mishappenings</span>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About Automation Kits</li>
		</ol>
	</div>
</section>
<section id="content">

		<!--			 loop can start from here-->
			<div class="content-wrap notoppadding nobottompadding" >
			<div style="height:30px;" class="col_full hidden-xs"></div>
				<div class="section nobg topmargin-lg nobottommargin nobottompadding notopmargin notoppadding">

					<div class="container clearfix">
						<h3 class="center">Make your surroundings safe and secure by monitoring through camera</h3>
					<div class="col_half nobottommargin center">
							<div class="fslider nopadding nomargin" data-pagi="false" data-arrows="true" data-thumbs="false" >
											<div class="flexslider">
												<div data-lightbox="gallery">
													<div><img src="{% static 'images/common/cctv.jpg' %}" style="width:65%;height:65%;"></div>
												</div>
											</div>
										</div>
						</div>
						<div class="col_half nobottommargin col_last nobottompadding notopmargin">
						<div style="height:10px;" class="col_full hidden-xs hidden-sm"></div>
							<div class="heading-block nobottomborder">
								<h2>Security Products</h2>
								<p> A CCTV is very helpful in today's world because safety is never compromisable.  It allows us to monitor the interior and exterior part of the property and it transmit the signal to the monitors. It is very helpful for preventing the theft and other illegal activities in your surrounding.
                                    <br><a href="/home-automation-product-detail/1/">More Details</a></p>
							<div class="heading-block">
							<a href="#" class="button button-3d button-large button-rounded topmargin-sm noleftmargin notopmargin">Buy Now</a>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			<!--			 loop can end from here-->
	<div class="content-wrap"></div>
		<div class="clear"></div>

</section>
{% endblock %}
<body>

</body>
</html>